{% include 'blog/includes/vip_access_badge.html' with show_vip_badge=attachment_context.show_attachment_vip_badge vip_condition_summary_items=attachment_context.attachment_vip_condition_summary_items vip_visibility_presentation=attachment_context.attachment_vip_visibility_presentation %}
{% if attachment_context.attachment_condition_summary_items %}
{% include 'blog/includes/condition_summary.html' with condition_items=attachment_context.attachment_condition_summary_items %}
{% else %}
{% include 'blog/includes/access_badge.html' with access=attachment_context.attachment_access_icon_presentation %}
{% endif %}
